[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
aiohttp = {extras = ["speedups"], version = "*"}
beautifulsoup4 = "*"
pyotp = "*"
selenium-wire = "*"
anticaptchaofficial = "*"
gspread = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"
black = "*"
types-requests = "*"

[requires]
python_version = "3.9"
